<header>
  <div class="container">
    <h1><a href="{{ routes.root_url }}" style="color:#fff;text-decoration:none;">{{ shop.name }}</a></h1>
    <nav>
      <a href="{{ routes.collections_url }}" style="color:#fff;margin:0 1em;">Productos</a>
      <a href="{{ routes.cart_url }}" style="color:#fff;">Carrito</a>
      <a href="/pages/contacto" style="color:#fff;">Contacto</a>
    </nav>
  </div>
</header>